[Unit]
Description=Display Switch Service
After=network.target

[Service]
Environment=export DISPLAY=:0
ExecStart=/usr/bin/python3 /etc/ha/hadpms.py
Restart=always
User=username

[Install]
WantedBy=multi-user.target
